<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3 branding-nav"
  >
    <div class="container" >
      <a class="navbar-brand" [routerLink]="['/']"><img src="https://crimsonstorage.blob.core.windows.net/images/iulogo.jpg" class="img-thumbnail" style="width: 50px; height: 50px" />  Crimson Soldiers</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-light" [routerLink]="['/']">Home</a>
        </ul>
      </div>
    </div>
  </nav>
</header>
